.site-footer__top {
  padding: 31px 0;
  border-top: 1px solid #252d3533;
  border-bottom: 1px solid #252d3533;
}

.site-footer__main-content {
  @include super-flex($items: flex-start);
}

.socials {
  width: 100%;
  max-width: 280px;
  margin-top: 21px;
  @include super-flex;
}

.site-footer__all-contents__box {
  width: 100%;
  max-width: 1150px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.site-footer__all-contents__box__inner {
  width: 100%;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.site-footer__all-contents__two{
  width: 100%;
  max-width: 350px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.main-titles {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #252d35;
}

.site-footer__all-contents__item {
  margin-top: 10px;
}

.site-footer__all-contents__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #252d35;
}

.site-footer__all-contents__link__smalls {
  display: block;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #252d35;
}

.site-footer__form {
  width: 100%;
  max-width: 285px;
}

.site-footer__form__title {
  display: inline-block;
  margin-bottom: 10px;
}

.site-footer__form__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-footer__form__box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 220px;
}

.site-footer__label:nth-child(2) > .site-footer__input {
  margin-top: 10px;
}

.site-footer__label:nth-child(1):before {
  position: absolute;
  top: 15%;
  left: 6%;
  width: 20px;
  height: 20px;
  background-image: url("../images/accout-logo-mobile.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  content: "";
}

.site-footer__label:nth-child(2):before {
  position: absolute;
  bottom: 15%;
  left: 6%;
  width: 20px;
  height: 20px;
  background-image: url("../images/call-phone.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  content: "";
}

.site-footer__label-check {
  display: none;
  margin-top: 10px;
}

.site-footer__input {
  width: 100%;
  max-width: 220px;
  padding: 16px 40px;
  border: 2px solid #252d35;
  background-color: transparent;
  outline: none;
}

.site-footer__input:focus {
  border: 2px solid #b8884b;
}

.site-footer__input-check {
  display: none;
}

.site-footer__btn {
  display: inline-block;
  width: 50px;
  padding: 55px 0;
  background-color: #252d35;
  background-image: url("../images/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #f1f5f84d;
  transition: all 0.3s ease;

  &:hover {
    background-color: #b8884b;
  }
}

.site-footer__bottom__inner {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.site-footer__two-smalls{
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
}

.site-footer__bottom__smalls {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #252d35;
  opacity: 0.5;
}


@include media(576px) {
  .site-footer__main-content {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
  }

  .site-footer__socials {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 40px 0;
    border-bottom: 1px solid #252d3533;
  }

  .logo {
    display: block;
    margin: 0 auto;
  }

  .socials {
    margin: 21px auto 0;
  }

  .site-footer__all-contents__box {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  .site-footer__all-contents__box__inner {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  .site-footer__all-contents__two {
    width: 100%;
    max-width: 500px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .site-footer__all-contents__two > .site-footer__all-contents:nth-child(2) {
    margin-right: 20px;
  }

  .main-titles {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
  }

  .site-footer__form,
  .site-footer__form__box,
  .site-footer__input {
    width: 100%;
    max-width: 500px;
  }

  .site-footer__form__box,
  .site-footer__input {
    width: 100%;
    max-width: 330px;
  }

  .site-footer__form__inner {
    width: 100%;
    max-width: 500px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 2px solid #252d3533;
    align-items: flex-start;
  }

  .site-footer__label:nth-child(1):before {
    top: 10%;
    left: 5%;
  }

  .site-footer__label:nth-child(2):before {
    bottom: 37%;
    left: 5%;
  }

  .site-footer__label-check {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .site-footer__btn {
    background-color: #252d35;
    opacity: 0.4;
  }

  .site-footer__style__box {
    display: inline-block;
    width: 15px;
    height: 50px;
  }

  .site-footer__style {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid #252d354d;
  }

  .site-footer__input-check:checked
    ~ .site-footer__style__box
    > .site-footer__style {
    background-color: #09f;
  }

  .site-footer__style__text {
    width: 100%;
    max-width: 300px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #252d35;
    opacity: 0.5;
  }

  .site-footer__style__text > a {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #5956f9;
    text-decoration: underline;
  }

  .site-footer__bottom__inner {
    flex-direction: column;
  }

  .site-footer__bottom__inner
    > .site-footer__two-smalls
    > .site-footer__bottom__smalls {
    margin-bottom: 10px;
  }

  .site-footer__two-smalls {
    display: flex;
    flex-direction: column-reverse;
  }
}

@include media(425px) {
  .site-footer__form__box {
    width: 100%;
    max-width: 260px;
  }

  .site-footer__label:nth-child(2):before {
    bottom: 42%;
  }

  .site-footer__all-contents__box__inner {
    width: 100%;
    max-width: 220px;
    margin: 0 auto;
    flex-direction: column;
  }

  .site-footer__all-contents__two {
    flex-direction: column;
  }

  .site-footer__all-contents + .site-footer__all-contents {
    margin-top: 30px;
  }

  .main-titles {
    display: block;
    text-align: center;
  }

  .site-footer__all-contents__link {
    display: block;
    text-align: center;
  }
}

@include media(355px) {
  .site-footer__form__inner {
    flex-direction: column;
  }

  .site-footer__form__box {
    width: 100%;
    max-width: 355px;
  }

  .site-footer__label:nth-child(2):before {
    bottom: 37%;
    left: 5%;
  }

  .site-footer__style__text {
    margin-left: 10px;
  }

  .site-footer__btn {
    width: 100%;
    max-width: 200px;
    margin: 20px auto 0;
    padding: 20px 15px;
  }
}
