.hero {
  padding: 80px 0 260px;
}

.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__content {
  width: 100%;
  max-width: 685px;
}

.hero__title {
  position: relative;
  margin: 0 0 30px;
  font-weight: 700;
  font-size: 70px;
  line-height: 75px;
  color: #252d35;
}

.hero__title::after {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 151px;
  height: 53px;
  background-image: url("../images/hero-content-icon.svg");
  background-repeat: no-repeat;
  content: "";
}

.hero__title__style {
  display: block;
  color: #b8884b;
}

.hero__item {
  position: relative;
}

.hero__item::before {
  position: absolute;
  top: 6px;
  width: 4px;
  height: 4px;
  background-image: url("../images/hero-item-before.svg");
  background-repeat: no-repeat;
  content: "";
}

.hero__item + .hero__item {
  margin-top: 10px;
}

.hero__text {
  margin-left: 8px;
}

.hero__btn {
  position: relative;
  display: inline-block;
  margin-top: 30px;
  padding: 15px 54px 13px 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #b8884b;
  border: 2px solid #b8884b;
}

.hero__btn::after {
  position: absolute;
  right: 30px;
  width: 14px;
  height: 20px;
  background-image: url("../images/hero-btn-icon.svg");
  background-repeat: no-repeat;
  content: "";
}

.hero__grid {
  display: grid;
  gap: 30px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.hero__grid__inner-one {
  grid-column: 1 / 3;
  grid-row: 1 / 5;
}

.hero__grid__inner-two {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.hero__grid__inner-three {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.hero__grid__inner-four {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.hero__grid__inner-five {
  grid-column: 3 / 5;
  grid-row: 3 / 5;
}

@include media(576px) {
  .hero {
    padding: 20px 0 100px;
  }

  .hero__inner {
    flex-direction: column;
  }

  .hero__content {
    width: 100%;
    max-width: 390px;
  }

  .hero__title {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 45px;
  }

  .hero__title::after {
    position: absolute;
    right: 0;
    width: 88px;
    height: 31px;
    background-image: url("../images/hero-content-icon-mobile.svg");
    background-repeat: no-repeat;
    content: "";
  }

  .hero__text {
    font-size: 14px;
    line-height: 17px;
  }

  .hero__btn{
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .hero__grid{
    gap: 20px;
  }
}

@include media (430px){

  .hero__title{
    font-size: 30px;
    line-height: 35px;
  }

  .hero__title::after{
    display: none;
  }

  .hero__grid{
    gap: 10px;
  }
}

@include media (360px){
  .hero__text{
    font-size: 13px;
    line-height: 15px;
  }
}

@include media (340px){
  
  .hero__title{
    font-size: 27px;
    line-height: 30px;
  }

  .hero__item::before{
    display: none;
  }

  .hero__text{
    margin-left: 0;
  }

  .hero__btn{
    padding: 15px 45px 13px 20px;
    font-size: 14px;
    line-height: 18px;
  }
  .hero__btn::after{
    right: 6%;
  }
}